## Literal in Python

In [140]:
100 # It is the integer that contain the whole number which can be the negative, zero or positive number.

100

In [19]:
-55

-55

In [21]:
"Hello" # It is the string which must be always in the quaotation so it can be printed.

'Hello'

In [23]:
'Hello'

'Hello'

In [27]:
"Hello Everyone, we are learning Python"

'Hello Everyone, we are learning Python'

In [29]:
"""Hello,
How are you?
We are learning Python."""

'Hello,\nHow are you?\nWe are learning Python.'

In [31]:
True

True

In [33]:
true

NameError: name 'true' is not defined

In [35]:
True # Boolean expression, that give the value as True or False

True

In [37]:
False

False

In [41]:
None

## Variable in Python

In [43]:
a=1

In [47]:
print(a)

1

In [49]:
a

1

In [51]:
b=2

In [53]:
print(b)

2

In [55]:
c=3

In [57]:
print(c)

3

In [59]:
d=a+b+c

In [61]:
print(d)

6

In [63]:
del d

In [65]:
print(d)

NameError: name 'd' is not defined

In [67]:
print(a)

1

In [69]:
print(b)

2

In [71]:
print(c)

3

In [73]:
x=5

In [75]:
print(x)

5

In [77]:
x=3

In [79]:
print(x)

3

In [81]:
y=1

In [87]:
z=x*y

In [89]:
print(z)

3

In [91]:
a="python"

In [93]:
print(a)

python

In [95]:
a=1

In [97]:
print(a)

1

In [99]:
_a=1

In [101]:
print(_a)

1

In [103]:
5=1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (764122178.py, line 1)

In [105]:
age=50

In [107]:
print(age)

50

In [115]:
a1="Hello"

In [132]:
a2=" World"

In [134]:
a3=a1 + a2

In [136]:
print(a3)

Hello World

## Keywords in Python

### It is the reserved word that has a predifined meaning in the language.

In [146]:
 import keyword

In [150]:
keyword.kwlist # This can be used to view the available keywords

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## Primitive Datatypes

### Integer

In [154]:
age =  25

In [156]:
age

25

In [158]:
print(age)

25

In [162]:
type(age) # This is the way to know what type of data is

int

### Float

In [165]:
percent = 87.5

In [167]:
type(percent)

float

In [169]:
10+20

30

In [173]:
3.5+2.22

5.720000000000001

In [175]:
4+3.5

7.5

### String

In [178]:
name = "Mark"

In [180]:
type(name)

str

In [182]:
full_name = "Ram Shyam"

In [184]:
full_name

'Ram Shyam'

In [186]:
type(full_name)

str

### Boolean

#### It has only two value: True or False

In [192]:
vall = True ## Here the T of True must be always capital

In [194]:
type(vall)

bool

In [196]:
vall2 = False ## Same F must be capitall too

### None

In [199]:
vall3 = None ## Here also the N should be capital

In [201]:
type(vall3)

NoneType

In [11]:
s1 = "Hello World"

In [13]:
s1

'Hello World'

In [15]:
s2 = 'Hello World'

In [17]:
type(s2)

str

In [19]:
s3 = """Hello everyone.
We are looking at strings.
Bye"""

In [21]:
s3          # the output is shown in the single one line. WHere every new line is represented by the the \n.

'Hello everyone.\nWe are looking at strings.\nBye'

In [23]:
type(s3)

str

#### What is the length of String?
##### It mean how many characters are there in the string.

In [27]:
s4 = "Python" # Here Python has 6 character or alphabets. So its length is 6.

In [31]:
len(s4) # Here the len is used to find the length.

6

In [33]:
s1

'Hello World'

In [39]:
len(s1) # Here the length of the s1 is 11. Here the space is counted as the valid character. So there is 10 alphabets and one space which altogther make 11.

11

### Indexing
#### Here, in string every character has its own position. Indexing means accessing individuals elemements from a sequence like strig, list tuple etc. It tells  the Python which position you want to acccess.

In [44]:
s4[0] # Indexing always start from 0. So here 0 represent the P.

'P'

In [46]:
s4[2] # 2 mean the t.

't'

In [48]:
s4[5] # 5 mean the n.

'n'

In [50]:
s4[6] # Here there is no length 6. So to know the index we can just use len and -1 (len-1) from that.

IndexError: string index out of range

In [52]:
len(s1)

11

In [54]:
s1[10]

'd'

In [56]:
s1[-1] # Using the negative indexing we can fetch. Like in negative indexing it satrt from last as -1. So -l is the total index number.

'd'

### Joining of the two string

In [59]:
s1 + s2 # Here using + will give only the addition without space.

'Hello WorldHello World'

In [61]:
s1 + ' ' +s2 # Here using the comma give the space.

'Hello World Hello World'

### Type conversion/ Type casting
#### The process of converting variable from one data type to another.

In [112]:
num1 = 100

In [114]:
type(num1)

int

In [116]:
float(num1) # Here the integer is shown in the form of integer but the value of the num1 remain integer.

100.0

In [118]:
num2 = float(num1)

In [120]:
num2

100.0

In [122]:
type(num2)

float

In [124]:
type(num1)

int

In [126]:
num1 = float(num1) # Here the value of num1 has been converted in the float.

In [128]:
type(num1)

float

In [130]:
num3 = 55.2

In [132]:
type(num3)

float

In [134]:
int(num3) # Here it is the only equivalent of the float not the permanent stored value.

55

In [136]:
num3

55.2

In [146]:
num3=int(num3) #Here it is converted and stored in the num3 as the integer.

In [148]:
num3

55

In [150]:
num4=77.4

In [152]:
type(num4)

float

In [154]:
num4=int(num4)

In [156]:
num4

77

In [158]:
num5=77.85

In [160]:
num5=int(num5)

In [162]:
num5

77

In [164]:
str(num5) # Here integer has been converted but for temporary.

'77'

In [166]:
num5

77

In [168]:
num5=str(num5) #Here the integer has been converted as storde in num5 permanently.

In [170]:
num5

'77'

In [172]:
type(num5)

str

In [174]:
s1 = "hello"

In [176]:
s1

'hello'

In [178]:
int(s1) # Here it is the character inside the string so it can not be converted the string.

ValueError: invalid literal for int() with base 10: 'hello'

In [1]:
float(s1) # Here again there is character inside the string so it can not be converted into the the float.

NameError: name 's1' is not defined

In [3]:
s2 = '12345'

In [5]:
type(s2)

str

In [7]:
int(s2)

12345

In [11]:
y = int(s2) # Here the value is just converted but the stored in the y.

In [13]:
s2

'12345'

In [17]:
s2=y # Here the value has been stored in the s2 as int.

In [19]:
s2

12345

In [21]:
s3 = 55.33

In [23]:
float(s3)

55.33

In [25]:
type(s3)

float

In [27]:
s4 = "Python3.14"

In [31]:
float(s4) # Here there is character so it can't be converted. To convert there should be only pure digit and decimal.

ValueError: could not convert string to float: 'Python3.14'

In [33]:
s5 = '1234a'

In [35]:
int(s5)

ValueError: invalid literal for int() with base 10: '1234a'

In [37]:
language = "Python"

In [39]:
version = 3.13

In [41]:
language + version #Here the language has string where the + mean joining of the two string where the version has float so in float + is just sum. So the python get confused.

TypeError: can only concatenate str (not "float") to str

In [49]:
language + str(version) # Here we can first convert the version into string than join them.

'Python3.13'

In [51]:
'100'+'100' #  Here we are not getting 200 because they are inside quote mean they are string so they are only joined not sum.

'100100'

In [53]:
int(100) + int  (100) # Now here we have converted in the int and the output is 200.

200

In [55]:
str(100)

'100'

In [57]:
str(100.2)

'100.2'

In [59]:
int('2222')

2222

In [61]:
float("23")

23.0

#### Type casting for boolean

In [63]:
val1 = True
val1

True

In [65]:
str(val1) # Here we have converted the boolean val1 into the integer.

'True'

In [67]:
bool('Python')

True

In [69]:
bool(100)

True

In [73]:
bool('23.3')

True

In [77]:
bool(0) # Here bool of zero gives the false.

False

In [81]:
bool(0.0)

False

In [83]:
bool(-100) # For every bool gives the true except zero.

True

In [87]:
bool(0.5)

True

In [89]:
bool('Python')

True

In [91]:
bool('a')

True

In [93]:
bool(" ")  # Here there is the space so it is recognized as character in the string so there is true value for it.

True

In [95]:
bool('')# Here there is no space between the quote so it gives the false. It is also called as Empty String.

False

#### Type casting for the None

In [101]:
bool(None) # Here for None it is also false.

False

In [103]:
int(2)

2

In [105]:
int(True)

1

In [107]:
int(False)

0

In [109]:
float(True)

1.0

In [111]:
float(False)

0.0

In [113]:
str(False)

'False'

In [115]:
str(True)

'True'

In [117]:
str(None)

'None'

### Operators

In [120]:
x = 10

In [122]:
y = x + 20 # Here the x and y are the variable and + and = are the operators. 20 is a value. The value and variable are called operands.

####  Arithmetic Operators 
It perform the basic mathematical operation.

In [131]:
num1 = 10

In [133]:
num2 = 5

In [135]:
num1 + num2 # Addition Operator

15

In [137]:
num1 - num2 # Subtraction operator

5

In [143]:
num1 * num2 # Multiplication Operator

50

In [150]:
num1/num2 #Division, but the output is float.

2.0

In [154]:
num1//num2 # Floor Divison Operator. Its removes the ramainder and give only the integer value.

2

In [156]:
10 / 3

3.3333333333333335

In [158]:
10 // 3

3

In [160]:
10 % 3 # Modulus or Percent operator gives the remainder as the output.

1

In [162]:
num1 % num2

0

In [164]:
2 ** 3 # Exponent or Power Operator. It basically gives the power.

8

#### Assignment Operator
Used to assign the values to variables.

In [168]:
value = 1000 # Here the = is the assignment operator.

In [170]:
add = num1 + num2

In [172]:
add

15

In [174]:
x = 10

In [176]:
x += 1 # Here += is used, which mean the 1 is added to the existing value of the x which mean the 10 is the beginning value now 1  is added and become 11.

In [178]:
x

11

In [180]:
 x -= 6

In [184]:
x # # Here -= is used, which mean the 6 is subtracted to the existing value of the x which mean the 10 is the beginning value now 6 is subtracted and become 5.

5

In [186]:
x *= 10 # Here *= is used, which mean the 10 is multiplied to the existing value of the x which mean the 5 is the beginning value now 10 is multiplied and become 50.

In [188]:
x

50

In [190]:
x /=20 ## Here /= is used, which mean the 50 is divided to the existing value of the x which mean the 50 is the beginning value now 20  is used to divided and become 2.5.

In [192]:
x

2.5

#### Comparison Operators
Used to compare  two values
Always return True or False

In [196]:
num1 = 100

In [198]:
num2 = 90

In [200]:
num3 = 90

In [202]:
num2 == num3 # Here it is equality operator checkif the two variable are equal or not.Here they are equal so it give True output

True

In [206]:
num1 == num2 # Here the two variable are not equal. Hence this give the output as False.

False

In [212]:
'Python' == 'python' # We have checked with the string also.

False

In [215]:
'python' == 'python' # here they are same so value is true.

True

In [217]:
num1 != num2 # It is not equal to operator. So here we checked if the num1 is not equal to num2 and the output is tru.Mean they both are not equal.

True

In [219]:
num2 != num3 # here the num2 and num3 are equal so it give the output as the false.

False

In [221]:
num1 > num2  #It is the greater than operator. Check which is greater. Here num1 is greater than num2 so the ans is True.

True

In [225]:
num1 < num2  # It is the less than operator. Here the num1 is greater than the num2 so the ans is false.

False

In [227]:
num1 >= num2 # It is the greater or equal to perator.So it check the whether the given value is greater or equal.If this staisfy the condition than it give ouput as the true.

True

In [229]:
 num2 >= num3 # Here the num2 is not greater but equal to num3 are equal so the output is True.

True

In [233]:
num2 >= num1 # Here the num2 is neither greater than num 1 or nor equal to num1. So the output is False.

False

#### Logical Operators
Used in conditions and decision making.

#### AND operator

In [239]:
True and True # Here and is a Logical Operator. So there is basically two condition. If the both is true than the output will be true if anyone of it false then the output will be` false.

True

In [241]:
True and False

False

In [243]:
False and True

False

In [245]:
False and False # Here the both the logic is false so the output is false.

False

#### OR Operator

In [249]:
True or True # Here Or is a logical Operator. So, if anyone among two operand anyone is true the output will be true else.

True

In [251]:
True or False # Here first operand is true so the output is true.

True

In [253]:
False or True # Here last operand is true so the output is true.

True

In [255]:
False or False # Here the both operand is False so the entire output will be the false.

False

In [260]:
name = "Mark"

In [262]:
age = 25

In [266]:
name == "Mark" and age >= 18 # Here we name check whether the mark is equal and age is greater than or qual to 18. And this both condition is satisfied so the output is true.

True

In [268]:
name =="Mark" and age == 30 # Here one condition is satisfied but another is not satisfied so the output is false.

False

In [274]:
name == 'Mark' or age == 30 # Here the one cond is satisfied and other is not than the output is True.

True

### Precendence Operator
It means which operator is evaluated first when an expression has multiple operators. Like BODMAS for Python

In [4]:
5 + 10 * 6 # Here there is two operator sum and multiplication so first the multiplication is done and then the sum.

65

In [6]:
name = "Mark"

In [10]:
age = 25

In [12]:
name == "Mark" or name =="John" and age < 18 # Here the and is considered first and or later.

True

In [15]:
(name == "Mark" or name =="John") and age < 18 # Here to operate the or first we can use the bracket.

False

In [17]:
(5 + 10) * 6

90

### Associativity 
When there is two same operator in same line and same priority but the associativity will decide whether left to right or right to left.

In [19]:
100 / 10 * 10 # Here both multiplication and division lies in same line so it moves from left to right.

100.0

In [28]:
2 ** 1 ** 3 # Both have same operator so the Right to left.

2

### Classification of the Operator based on the operands.

#### Urinary Operator
If an operator operate on only one operand.

In [34]:
-10

-10

In [37]:
not True

False

##### Binary Operator
These are the operator that operates on two operands.

In [40]:
10 - 5

5

In [42]:
True or False

True

#### Ternary Operator
The operator that operates on three operand.