### Print Function

In [1]:
num1 = 100

In [3]:
print(num1)

100

In [5]:
print(num1) # Here we use the bracket to print.

100

In [7]:
print(num1 # here it is showing the error because the bracket is not closed.

SyntaxError: incomplete input (174207466.py, line 1)

In [9]:
name = "John"

In [11]:
print(name)

John

In [13]:
age = 25

In [15]:
print(age)

25

In [17]:
print(name , age ) # We can print the multiple value in same line just by using the comma.

John 25

In [19]:
print(name,age) # The sapce has no effect.

John 25

In [21]:
print(10,20,30) # It is called as separator and it is by default. We can change it also.

10 20 30

In [23]:
print(10,20,30,40, sep=" ") # The sep help to decide the space whatever we do inside the comma that isi reflected. Here we have given the space so there is space in the output.

10 20 30 40

In [25]:
print(10,20,30, sep=",") # Here we have given the comma so there is comma in the output.

10,20,30

In [27]:
print(10,20,30, sep="") # Here we have not given the space so there is no space in the output.

102030

In [29]:
print(10,20,30,40, sep="@") # Here there is @ inside the comma so there is @ between the two number.

10@20@30@40

In [31]:
print(10,20,30, sep="hii") # Any valid can be kept between the comma or separator.

10hii20hii30

In [33]:
print("Python') # If we start the string with the double quote and end with the single quote. Than there will be the syntax error.

SyntaxError: unterminated string literal (detected at line 1) (3035546135.py, line 1)

In [35]:
num1 = 100

In [37]:
num2 = 200

In [39]:
num3 = 300

In [41]:
result = num1 + num2

In [43]:
print(num1, num2, num3)

100 200 300

In [45]:
#Addition is the 100 and 200 is 300 should be my output

In [47]:
print("Addition of", num1, "and", num2, "is", result)

Addition of 100 and 200 is 300

In [49]:
name

'John'

In [51]:
age

25

In [53]:
#Name:John Age: 20 I need to print this

In [55]:
print("Name:", name, "Age:", age)

Name: John Age: 25

In [57]:
#Name:John , Age: 20 Now i want to print this

In [59]:
print("Name:", name, sep="," , "Age:", age)  # Here it is error because sep should be used in last

SyntaxError: positional argument follows keyword argument (4182700704.py, line 1)

In [61]:
print("Name:", name, ", Age:", age) # If we use sep than for evry character it put  comma so we used this.

Name: John , Age: 25

In [63]:
day = 10

In [65]:
month = 3

In [67]:
year = 2020

In [69]:
#I want to print 10/3/2020

In [71]:
print(day, month, year, sep="/")

10/3/2020

### Input Function
input() is a built in Python function used to take input from the user.

In [74]:
name = "mark"

In [76]:
print(name)

mark

In [78]:
first_name = input () #The input is given as John below.

 John

In [86]:
print(first_name)

John

In [80]:
age = input() # here we have given the input as age.

 25

In [82]:
print(age) # We can see the output here.

25

In [90]:
first_name = input("Enter your name")0

Enter your name john

In [94]:
print(first_name)

first_name

In [98]:
age = input("How old are you?")

How old are you? 20

In [100]:
num1 = input("Enter a number:")

Enter a number: 10

In [102]:
num2 = input ("Enter another number:")

Enter another number: 21

In [104]:
print(num1)

10

In [106]:
print(num2)

21

In [108]:
result = num1 + num2

In [110]:
print(result) # Output is giving 1021 instead of 31. This is because the input is in string and the its joins the two string not add the number.

1021

In [112]:
type(num1)# The input is always string so according to the need we have to convert.

str

In [134]:
type(num2)

str

In [136]:
int(num1)

In [138]:
int(num2)

In [140]:
result = int(num1) + int(num2) # here we have changed the string into the integer and now the output is as desired.

In [142]:
print(result)

31

In [144]:
year = input("What is the current year?")

What is the current year? 2025

In [146]:
age = input("What is your age?")

What is your age? 18

In [148]:
#You were born in the year 2027

In [150]:
born_year = int(year) - int(age) # Here the input is in the foerm of the string so we converted in the integer and does operation.

In [154]:
print("You were born in the year", born_year)

You were born in the year 2007