In [31]:
nums1 = {1, 3, 2, 0, -1}
nums2 = {6, 7, 8, 9, 5}

#### Membership Operator
##### 1. in
##### 2. not in

In [34]:
print(1 in nums1) # here o is present so the output is true.

True

In [36]:
print(33 not in nums1) # 33 is not present so the output is true.

True

In [41]:
print(nums1 + nums2) # Hence we can not perform the concatenation is not possible in set.

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [43]:
print(nums1 * 3) # We can not perform repeating set.

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [45]:
weekdays = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")

In [47]:
set(weekdays) # We can convert the tuple into set.

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [49]:
print(weekdays) # We just reassign so we need to store in some variable.

('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

In [51]:
weekdays = set(weekdays)

In [55]:
print(weekdays) # Here it has been stored. But the output is unordered. Each and every time the order get changed.

{'Thu', 'Sun', 'Mon', 'Fri', 'Tue', 'Wed', 'Sat'}

##### Sets are mutable.

In [146]:
set1 = {1, 2, 3}

In [148]:
set1[1] = 3 # We can not do indexing because there is no position.

TypeError: 'set' object does not support item assignment

##### add(), it add element to the set. It is unordered so we can not set where the element will be added.

In [151]:
set1.add(5)

In [153]:
print(set1)  # Here it has been added in the set.

{1, 2, 3, 5}

In [155]:
set1

{1, 2, 3, 5}

In [157]:
set1.remove(1) # Here we are specifying the elemennt 1 should be removed.

In [161]:
print(set1) # Here the remove is possible.

{2, 3, 5}

In [167]:
set1.add(2) # Adding the existing element does not give error but it also does not add because set does not allow duplication.

In [169]:
print(set1)

{2, 3, 5}