#### Binning (Data Discretization)
##### Binning is a data preprocessing technique in  which continuous numerical data is converted into discrete intervals (bins).
##### Example:
##### Age values → [18, 22, 25, 30, 35]
##### After binning → Young, Adult, Senior

#### Why Binning Is used:
##### 1. Reduces noise in data.
##### 2. Makes pattern easier to understand.
##### 3. Useful in machine learning and signal processing.
##### 4. Helps in data visualization.

In [9]:
import pandas as pd

In [11]:
df = pd.read_excel("Numeric.xlsx")

In [12]:
df.head()

   Unnamed: 0  S.No   A  B   C   D   E  Length
0           0     1   2  1   5   3   4      45
1           1     2   4  3  10   6   8      43
2           2     3   6  5  15   9  12      66
3           3     4   8  7  20  12  16      78
4           4     5  10  9  25  15  20      32

In [15]:
# Numeric to Categorical

In [17]:
import numpy as np

In [23]:
bins = np.linspace(min(df["Length"]),max(df["Length"]),4) # It generates evenly spaced numbers between a start and end value.

In [25]:
group_names = ["Low", "Medium", "High"]

In [29]:
df["Length-binned"] = pd.cut(df["Length"], bins, labels = group_names, include_lowest = True)

In [31]:
df.head()

   Unnamed: 0  S.No   A  B   C   D   E  Length Length-binned
0           0     1   2  1   5   3   4      45           Low
1           1     2   4  3  10   6   8      43           Low
2           2     3   6  5  15   9  12      66          High
3           3     4   8  7  20  12  16      78          High
4           4     5  10  9  25  15  20      32           Low