#### Binning (Data Discretization)
##### Binning is a data preprocessing technique in  which continuous numerical data is converted into discrete intervals (bins).
##### Example:
##### Age values → [18, 22, 25, 30, 35]
##### After binning → Young, Adult, Senior

#### Why Binning Is used:
##### 1. Reduces

In [2]:
import pandas as pd

In [4]:
df = pd.read_excel("Binning_data.xlsx")

In [6]:
df.head()

   S.No  Price
0     1   1000
1     2    600
2     3    500
3     4    100