In [28]:
import pandas as pd
df = pd.read_excel("Four_Column_Data.xlsx")

In [30]:
print(df)

   ID   Name   Department  Score
0   1    Ram  Electronics     85
1   2  Rahul   Biomedical     78
2   3  Shyam     Computer     92
3   4   Hari   Electrical     88
4   5  Karan   Mechanical     74
5   6  Gopal  Electronics     90

In [32]:
df.head(3)

   ID   Name   Department  Score
0   1    Ram  Electronics     85
1   2  Rahul   Biomedical     78
2   3  Shyam     Computer     92

In [37]:
headers = ["S.No", "Even", "Odd", "Multiples"]
df.columns = headers

In [39]:
print(df)

   S.No   Even          Odd  Multiples
0     1    Ram  Electronics         85
1     2  Rahul   Biomedical         78
2     3  Shyam     Computer         92
3     4   Hari   Electrical         88
4     5  Karan   Mechanical         74
5     6  Gopal  Electronics         90