#### Data Normalization
##### Data normalization is the process of scaling numeric data to a common range so that features are comparable and no single feature dominates the model. It helps to improve performance of ML algorithms (KNN, SVM, Gradient Descent, Neural Networks). The methods are:
##### 1. Mix-Max Normalization
##### 2. Z-Score Normalization (Standarization)
##### 3. Decimal Scaling
##### 4. Simple Feature Scaling

In [48]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_excel("New_Data.xlsx")

In [52]:
df.head()

   S.No     A  B   C     D   E  Length
0     1   2.0  1   5   3.0   4    45.0
1     2   4.0  3  10   6.0   8    43.0
2     3   6.0  5  15   9.0  12    66.0
3     4   8.0  7  20  12.0  16    78.0
4     5  10.0  9  25  15.0  20    32.0

In [54]:
# Simple feature scaling method
#df["Length"] = df["Length"]/df["Length"].max()

In [56]:
#df.head() # here the Length column has been changed into normalize form.

In [58]:
#MIN-MAX Method
#df["Length"] = (df["Length"]-df["Length"].min())/(df["Length"].max()-df["Length"].min())

In [61]:
#Z-Score Method
df["Length"]=(df["Length"]-df["Length"].mean())/df["Length"].std()

In [63]:
df.head()

   S.No     A  B   C     D   E    Length
0     1   2.0  1   5   3.0   4 -0.477507
1     2   4.0  3  10   6.0   8 -0.562022
2     3   6.0  5  15   9.0  12  0.409896
3     4   8.0  7  20  12.0  16  0.916983
4     5  10.0  9  25  15.0  20 -1.026852