In [5]:
std1 ={"maths": 80.5, "eng": 76.0, "phy": 89.0}

In [7]:
print(std1)

{'maths': 80.5, 'eng': 76.0, 'phy': 89.0}

In [9]:
type(std1)

dict

In [11]:
#fetch the marks of dictionary

In [15]:
print(std1["phy"]) # Here we  have directly fetch the data of phy.

89.0

In [17]:
#get()

In [21]:
print(std1.get("phy")) # Using the get we can fetch the data directly.

89.0

In [23]:
print(std1["chem"]) # We donot have chem key so there is error in ooutput.

KeyError: 'chem'

In [25]:
print(std1.get("chem")) # But using the get we do not get error but the value is none.

None

In [27]:
print(std1.get("chem", 40)) # Although the value is not but we can assign a value like here 40 will be printed as ouyput.

40

In [29]:
emp1 = {"id": 111, "name": "John", "salary": 25000}

In [31]:
print(emp1.get("phone")) # Here the key phone is not present so the value is none.

None

In [35]:
print(emp1.get("phone", 811111111)) # Here although key is not present , it gives the default value.

811111111

In [39]:
print(emp1.get("id", 811111111)) # There is key id and we have given the default value too. But it will give the key value rather than the default value asid is present over there.

111

In [41]:
# Membership operator

In [43]:
print(111 in emp1) # Here the output is false although there is 111 in emp1 because 111 is value not a key. It checks the key not value.

False

In [49]:
print("id" in emp1) # Here the output is true so it shows that it check the key not value.

True

In [51]:
emp1["phone"] = 81111111 # We can add the key value pair like this in ictionary.

In [53]:
print(emp1)

{'id': 111, 'name': 'John', 'salary': 25000, 'phone': 81111111}

#### Update function

In [55]:
sem1_marks = {"maths": 78, "eng": 88.2, "phy": 95.2}

In [57]:
sem2_marks = {"chem": 85.0, "bio": 99.2}

In [59]:
sem1_marks.update(sem2_marks) # Here we are updating the sem1 marks with sem 2 marks.

In [61]:
print(sem1_marks) # The sem1 marks has been updated.

{'maths': 78, 'eng': 88.2, 'phy': 95.2, 'chem': 85.0, 'bio': 99.2}

In [71]:
groceries_1 = {"milk": 60, "rice": 100, "biscuits": 20}

In [75]:
groceries_2 = {"rice": 110, "bread": 88}

In [81]:
groceries_1.update(groceries_2) # Here the new price of the rice is updated with new price while there was no bread in groceries_1 so it has been updated with the bread from groceries_2.

In [79]:
print(groceries_1)

{'milk': 60, 'rice': 110, 'biscuits': 20, 'bread': 88}

#### pop function

In [86]:
groceries_1.pop("milk")

60

In [88]:
print(groceries_1) # The milk has been deleted along the price.

{'rice': 110, 'biscuits': 20, 'bread': 88}

In [90]:
groceries_3 = {"milk": 60, "rice": 100, "biscuits": 20, "milk": 65}

In [92]:
print(groceries_3) # The milk was 2 times but in the output there is milk once appeared in the output. The python rea

{'milk': 65, 'rice': 100, 'biscuits': 20}