In [1]:
d1 = {[1,3,5]:  9, [1,2,1]: 4} # There is error because we have used list as key. The list can not be key.

TypeError: unhashable type: 'list'

In [3]:
d2 = {"Nine": 9, "Four": 4}

In [7]:
print(d2) # String can be keys.

{'Nine': 9, 'Four': 4}

In [11]:
d3 = {1: True, 0: False}

In [13]:
print(d3) # Integers can be key.

{1: True, 0: False}

In [15]:
d4 = {1.2: True, 2.3: False}

In [17]:
print(d4) # Float can be used as the key.

{1.2: True, 2.3: False}

In [19]:
d5 = {"True": 1, "False": 2}

In [21]:
print(d5) # Boolean can be used as the key.

{'True': 1, 'False': 2}

In [25]:
d6 = {(1,3,5):  9, (1,2,1): 4} # Hence the tuple are allowed as the key.

In [27]:
print(d6)

{(1, 3, 5): 9, (1, 2, 1): 4}

In [29]:
d7 = {{1,3,5}:  9, {1,2,1}: 4} # The set are also not allowed as the key for dictionary.

TypeError: unhashable type: 'set'

In [31]:
d8 = {{'a': 1, 'b': 2}: 8 } # The dict is also not allow as the key of dictionary.

TypeError: unhashable type: 'dict'

In [33]:
# not allowed - list, set, dict ---> mutable data types
# allowed - str, int, float, bool, tuple ----> immutable data types.
# keys of a dictionary can only be mutable data types.
# values can be any data types.

In [59]:
student1 = {"id": 1001, "name": "John", "marks": [89.5,  71.5, 81.0]} # Here there is list only as value of key marks.

In [61]:
print(student1)

{'id': 1001, 'name': 'John', 'marks': [89.5, 71.5, 81.0]}

In [63]:
print(student1["marks"]) # Here we are indexing .

[89.5, 71.5, 81.0]

In [65]:
print(student1["marks"][1]) # Here we are chaining using the index to get the 71.5.

71.5

In [101]:
student2 = {"id": 1002, "name": "David", "marks": {"eng": 89.5, "phy": 71.5, "chem": 81.0}} # Here the value of the marks (key) is in dict.

In [103]:
# Here we want to fetch the mark of phy than.

In [105]:
print(student2["marks"]) # Here we have fetched the marks.

{'eng': 89.5, 'phy': 71.5, 'chem': 81.0}

In [107]:
print(student2["marks"]['phy']) # So we have fetched here the phy marks.

71.5

In [109]:
# fetching all the key. There is function keys().

In [111]:
print(student2.keys()) # Here we have keys . The eng, phy are the value.

dict_keys(['id', 'name', 'marks'])

In [115]:
print(student2.keys(), type(student2.keys()))

dict_keys(['id', 'name', 'marks']) <class 'dict_keys'>

In [117]:
#WE can fetch the value using the value().

In [125]:
print(student2.values(), type(student2.values()))  # HEre all the value has been printed.

dict_values([1002, 'David', {'eng': 89.5, 'phy': 71.5, 'chem': 81.0}]) <class 'dict_values'>

In [127]:
#items(). If we want to fetch the pair that is key and value together.

In [131]:
print(student2.items(), type(student2.items())) # We can see the value and key pair.

dict_items([('id', 1002), ('name', 'David'), ('marks', {'eng': 89.5, 'phy': 71.5, 'chem': 81.0})]) <class 'dict_items'>