#### Slicing of lists
##### Slicing in a list means accessing a part (subset) of the list using slice operator :  .
##### Syntax:
    list[start : end : step]
    Meaning:
    start ---- index to begin(included)
    end --- index to stop (excluded)
    step -- jump

In [9]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1]

In [11]:
len(l1) #Here the length is 6

11

In [13]:
l1[1] # Here we are indexing the value of the 1 so it is 2.

2

In [15]:
print(l1[1:]) # Here it has sliced the first 1 and printed the rest of the.

[2, 3, 4, 5, 6, 7, 8, 9, 0, 1]

In [17]:
print(l1[1:6:1]) # for 1=0, 2=1 .....and 1=10 is the indexing. So here 1 mean 1 and 6 mean 7 so it excluded 7 and printed the rest of them by jumping 1.

[2, 3, 4, 5, 6]

In [21]:
print(l1[:1]) # Here only first is printed.

[1]

#### Concatenation of lists
##### Concatenation of lists in Python means joining two or more lists together to form a single list.

##### Using + operator

In [25]:
num1 = [1, 2, 3, 4]

In [27]:
num2 = [6, 7, 8, 9]

In [31]:
print(num1 + num2) # Here we have just added the num1 and num2.

[1, 2, 3, 4, 6, 7, 8, 9]

In [35]:
print(num2 + num1) # Here if we use the num2 first than num1 than the num 2 list will be showed first and than num1.

[6, 7, 8, 9, 1, 2, 3, 4]

##### Using extend()
It adds the elements of one list into another using creating a new lists

In [40]:
num1.extend(num2)

In [46]:
print(num1) # Here we are able to print the list without using any new variable.

[1, 2, 3, 4, 6, 7, 8, 9]

##### Using *(unpacking operator)
Useful when concatening mutiple lists.

In [50]:
num3=[88, 99]

In [54]:
result = [*num1, *num2, *num3]

In [56]:
print(result)

[1, 2, 3, 4, 6, 7, 8, 9, 6, 7, 8, 9, 88, 99]

#### Repetition of lists
Repeating the elements of a list multiple times using the * operator.
##### Syntax: 
            list_name * number_of_times

In [59]:
print(num3 * 3)

[88, 99, 88, 99, 88, 99]