In [40]:
s1 = "Python is fun"

In [42]:
print(s1[0])

P

In [44]:
print(s1[-1])

n

In [46]:
print(len(s1))

13

In [48]:
language = "Python"

In [50]:
version = "3.13"

In [52]:
print(language + version)

Python3.13

In [67]:
print(language + " " + version)

Python 3.13

In [56]:
print("Python"-"P") # here the subtraction operator will not work

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [58]:
print("Python" * "P") # here the multiplication operator will not work

TypeError: can't multiply sequence by non-int of type 'str'

In [60]:
s2 = "Python"

In [62]:
print(s2 * 3) # Here * is repeattion operator

PythonPythonPython

In [64]:
print((s2 + " ") * 3) # In this way we can create space also.

Python Python Python

#### Membership operator
##### in
##### Checks if a value is present inside a sequence

In [71]:
s1 = "Python is fun"

In [73]:
print("Python" in s1) # Here the python is present so it give  the boolean as True.

True

In [79]:
print("i" in s1) # Here we can check if the single character is present or not.

True

In [85]:
print("z" in s1) # Same here aslo there is no z in s1 so the value is false.

False

In [87]:
print("Java" in s1) # There is no Java in s1.

False

##### There is also another membership operator called as not in. It is just opposite of the in operator.

In [96]:
print("Java" not in s1) # there is no Java in s1 so the value is true.

True

In [98]:
print("P" not in s1) # There is P in the s1 so the output is false.

False

#### comparison of strings

In [3]:
print("Python" == "Python") #It check whether the value is same or not or simplf exact. Hence the output is true.

True

In [5]:
print("Python " == "Python") #Here there is space in first so the value is false. Even the space is considered here.

False

#### Removing spaces from a string there is a function- strip()

In [9]:
s1 = "Python "

In [13]:
s2 = s1.strip() #Here the strip removes the spaces from the string.

In [15]:
print(s2)

Python

In [19]:
print(s1.strip() == "Python") # here using the strip removed the space and compared exactly so the output is true.

True

In [21]:
s3 = "   Python       "

In [23]:
s4 = s3.strip()

In [27]:
print(s3) # Here the strip function removes the number of space present in the string.

   Python

In [29]:
s5 = "///python///"

In [35]:
print(s5.strip("/")) # It is used to strip the specific character from the string.

python

In [37]:
s6 = ";;;???^^^hello???"

In [39]:
print(s6.strip(";?^")) # It removes the multiple characters.

hello

#### replace()
##### replace() is used to replace a part of a string with another string
#### syntax
      string.replace(old, new, count)
#### old = the substring we want to replace 
#### new = the substring we want to insert
#### count = number of times to replace (optional)

In [79]:
text = "We are learning Python."

In [81]:
print(text.replace("Python", "Java")) # The input will not change just the output is new.

We are learning Java.

In [83]:
print(text) # See here the input is same.

We are learning Python.

In [85]:
text = text.replace("Python", "Java") # here if we want to save the replaced than we can do this.

In [87]:
print(text) # Now the output ischanged and stored in the text.

We are learning Java.

In [89]:
print(text.replace("e", "E")) # Here all the small e changed in the Capital E.

WE arE lEarning Java.

In [93]:
print(text.replace("e", "E", 2)) # Here the first two e are only changed.

WE arE learning Java.

In [95]:
s7 = "Hello World"

In [99]:
print(s7.replace("World", "")) # To replace any specific character or word just replace it with an empty string.

Hello

#### Counting substring from a string
Counting means finding how many times a substring, word or character appears inside a string.
##### syntax
           string.count(substring)

In [158]:
n1 = "We are learning Python. Python is fun"

In [160]:
n2 = "Python"

In [162]:
n3 = n1.count(n2)

In [164]:
print(n3) # Here the number of the Python present in the n1 is 2.

2

In [168]:
print(f"Occurence of the {n2} is {n3}")

Occurence of the Python is 2

In [172]:
n4 = n1.count("e") # Here the presence of e in the 3 time.

In [174]:
print(n4)

3

In [178]:
n5 = n1.count("learn")

In [180]:
print(n5) # Here the occurence of the learn is only one time.

1

In [182]:
print(n5)

1