#### Concatenation Operation
##### Concatenation means joining two or more tuples together using the "+" operator.
##### Syntax:
            tuple3 = tuple1 +tuple2

In [16]:
student_detail1 = (1001, "John")

In [18]:
student_detail2 = (78.5, 91.0, 83.5) # If we want to join the two tuple we can just add + operator.

In [20]:
print(student_detail1 + student_detail2)    # Here it has printed the joining .

(1001, 'John', 78.5, 91.0, 83.5)

##### Repetition Operation
#####  The repetition operator (*) is used to repeat the elements of a tuple multiple times.
##### Syntax:
                new_tuple = tuple * n

In [23]:
t1 = ("Class 5", 5000)

In [25]:
print (t1 * 3) # Here using the * repeats the tuple three times.

('Class 5', 5000, 'Class 5', 5000, 'Class 5', 5000)

#### Membership Operator
##### Membership operators are used to check whether an element exists in a tuple or not. There are two membership operator. They are:
1. Using in Operator
   ##### Checks if a item is present in the tuple.
2. Using not in Operator
   ##### Checks if an item is NOT present in the tuple.

In [34]:
print(91.0 in student_detail2) # Here the student got 91.0 marks so ans is true.

True

In [38]:
print(21.0 in student_detail2) # here there is no 92.0 in tuple so the ans is false.

False

In [40]:
print(21.0 not in student_detail2) # There is no 21.0 in student_detail2 so the statement is true.

True

#### Count
##### The count() method is used to count how many times a specific element appears in a tuple.
##### Syntax:
            tuple.count(value)

In [72]:
t2 = (10, 4, 1, 6, 3, 1)

In [74]:
print(t2.count(10)) # 10 is present only one time.

1

#### Index
##### The index() is used to find the position (index number) of the first occurence of a specific value in a tuple.
##### Synatx: 
                tuple.index(value)

In [77]:
print(t2.index(4)) # before we were finding the element using the n value but now we finding the position (n) using the element.

1

In [79]:
print(t2.index(40))   # There is no 40 so the error is there.

ValueError: tuple.index(x): x not in tuple

In [81]:
print(t2.index(1)) # The position of 1 is 2 but there is 1 in last also. So the index find the first occurence.

2

##### Index works same in the list, string as well.