#### Value Counts
##### Value count means counting how many times each unique value appears in a data set.

In [5]:
import pandas as pd
df = pd.read_excel("Value.xlsx")

In [7]:
df.describe()

,Unnamed: 0,12,32,43,45,54,66,67,77,78,89
count,11.000000,11.000000,11.000000,11.000000,11.0,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,5.000000,0.090909,0.090909,0.181818,0.0,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
std,3.316625,0.301511,0.301511,0.404520,0.0,0.301511,0.301511,0.301511,0.301511,0.301511,0.301511
min,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.500000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.500000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000