#### Value Counts
##### Value count means counting how many times each unique value appears in a data set.

In [5]:
import pandas as pd
df = pd.read_excel("Value.xlsx")

In [9]:
df.describe() # It give statistical summary of numerical columns in a DataFrame.

,Unnamed: 0,12,32,43,45,54,66,67,77,78,89
count,11.000000,11.000000,11.000000,11.000000,11.0,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,5.000000,0.090909,0.090909,0.181818,0.0,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
std,3.316625,0.301511,0.301511,0.404520,0.0,0.301511,0.301511,0.301511,0.301511,0.301511,0.301511
min,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.500000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.500000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
df = pd.read_excel("Numeric.xlsx")

In [15]:
df.head()

   Unnamed: 0  S.No   A  B   C   D   E  Length
0           0     1   2  1   5   3   4      45
1           1     2   4  3  10   6   8      43
2           2     3   6  5  15   9  12      66
3           3     4   8  7  20  12  16      78
4           4     5  10  9  25  15  20      32

In [21]:
index = pd.Index(df["Length"])

In [25]:
index.value_counts()

Length
45    1
43    1
66    1
78    1
32    1
Name: count, dtype: int64

#### Boxplot
##### A box plot is a graphical representation use to show the distribution of numerical data based on five summaryy statisics.